dialog {
    display: none;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: none;
    max-height: none;
    overflow: hidden;
    margin: 0;
    background-color: color-mix(in srgb, var(--fill-base-300), var(--utility-transparent) 20%);
}

dialog[open] {
    display: flex;
    align-items: center;
    justify-content: center;
}

dialog::backdrop {
    display: none;
}

dialog .modal-container {
    display: flex;
    flex-flow: column;
    width: 95%;
    padding: 0;
    color: var(--text-base-600);
    background-color: var(--fill-base-100);
    border-radius: var(--radii-lg);
    outline: 1px solid var(--alt-base-400);
    max-height: 95vh;
    animation: open-modal 250ms ease-in-out;
    @apply shadow-2xl;
}

dialog .header {
    padding: var(--sy-md) var(--sx-md) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

dialog .body {
    padding: var(--sy-lg) var(--sx-lg);
    @apply flex flex-col gap-y-base;
    flex: 1;
}

dialog .footer {
    padding: 0 var(--sx-lg) var(--sy-lg);
    @apply flex flex-row justify-end;
}

button.close {
    color: currentColor;
    appearance: none;
    border: 0 none;
    background: transparent;
    border-radius: var(--radii-base);
    opacity: 0.6;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--line-height-md);
    height: var(--line-height-md);
}

button.close:hover {
    opacity: 1;
}

.presets-list {
    @apply flex flex-col flex-1 gap-sy-xs4 px-lg mb-sy-lg overflow-auto overflow-y-visible;
    padding-right: calc(var(--sx-lg) - var(--scrollbar-width));
}

.theme-item {
    @apply rounded-md bg-alt-base-100 flex flex-row relative;
}

.theme-item input[type=radio] {
    opacity: 0;
    position: absolute;
}

.theme-item:hover {
    outline:1px solid var(--primary-300);
    outline-offset: -1px;
}

.theme-item:has(input:checked) {
    background-color: transparent;
    outline:2px solid var(--primary-300);
    outline-offset: -2px;
}

.theme-item:focus-within,
.theme-item:has(input:focus),
.theme-item:has(input:focus-visible) {
    outline:1px solid var(--primary-500);
    outline-width: 2px;
    outline-offset: -2px;
}

dialog .body + .presets-list {
    padding-top: 0;
}

.theme-item .col-info {
    @apply flex flex-col flex-1 justify-center px-base gap-sy-xs3
}
.theme-item .col-info .info-item {
    @apply flex flex-row gap-sx-xs2 text-sm flex-nowrap whitespace-nowrap items-center;
}

.theme-item .col-swatches {
    @apply flex flex-col gap-sx-xs p-sx-xs flex-1
}

.swatches {
    outline: 1px solid var(--alt-base-100);
    outline-offset: -1px;
    @apply flex flex-row gap-0 rounded overflow-hidden;
}

.swatches .swatch {
    display: block;
    height: 2rem;
    flex: 1;
}


@keyframes open-modal {
    from {
        background-color: transparent;
        opacity: 0;
        transform: translateY(-25%);    
    }
    to {
        opacity: 1;
        transform: translateY(0);    
    }
}