@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --spacing: 0.5rem 1rem;
    --slider-thumb-size: calc(var(--line-height-md) + var(--spacing-minor-xs));
    --slider-track-size: calc(var(--slider-thumb-size) / 4);
    --slider-margin: var(--slider-thumb-size);
    --scrollbar-width: 8px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--fill-base-300);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--text-base-600);
    margin: 0;
    overflow: hidden;
}

html,
body {
    height: 100%;
}

a {
    color: var(--primary-500);
}

a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
    /* Foreground */
    background: red;
    background: var(--stroke-base-600);
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    /* Background */
    background: transparent;
}

.card {
    background-color: var(--fill-base-100);
    border-radius: var(--radii-md);
    padding: var(--spacing-minor-md) var(--spacing-md);
    gap: var(--spacing-minor-base);

    @apply flex flex-col;
}

.brand-card {
    --bg-color: var(--primary-400);
    background-color: var(--bg-color);
    color: var(--text-contrast-600);

    &.disabled > * {
        opacity: 0.4;
        pointer-events: none;
    }
}

.card-sticky {
    position: sticky;
    top:  0;
    z-index: 10;

    &::before {
        content: "";
        display: block;
        pointer-events: none;
        position: absolute;
        inset: calc(-1 * var(--spacing-xs2));
        bottom: 33%;
        background-image: linear-gradient(180deg, var(--fill-base-300) 70%, transparent);
        z-index: -1;
    }

    .card {
        position: relative;
    }
}

.sentinal {
    height: var(--spacing-xs2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}

.is-pinned .card {
    transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
    @apply shadow-5 shadow-utility-shade-300 bg-opacity-90 backdrop-blur-md;

    & .instruction {
        display: none;
    }
    & .radio-segment {
        background-color: var(--alt-contrast-200);
        outline-color: var(--alt-contrast-200);
    }
    & .radio-segment input[type=radio]:checked+.container {
        color: var(--text-base-600)
    }
}


form {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

form .container {
    flex: 1;
    overflow: auto;
    padding: var(--spacing-xs2);
    gap: var(--spacing-xs2);
}

button {
    appearance: none;
    border-radius: var(--radii-base);
    padding: var(--spacing-minor-xs) var(--spacing-sm);
    color: var(--text-base-action);
}

button:hover {
    background-color: var(--primary-100);
}

button.primary {
    background-color: var(--primary-400);
    border: none;
    color: var(--text-contrast-600);
}

button.primary:hover {
    background-image: linear-gradient(var(--alt-contrast-200), var(--alt-contrast-200));
}

input,
select,
textarea {
    padding: var(--spacing-minor-xs) var(--spacing-sm);
    border-radius: var(--radii-base);
    background-color: var(--fill-base-100);
    color: var(--text-base-600);
    border: 1px solid var(--stroke-base-400);
}

.custom-select {
    position: relative;
}

.custom-select select {
    appearance: none;
    width: 100%;
}

.custom-select .icon-chevron-down {
    position: absolute;
    right: var(--spacing-xs);
    top: var(--spacing-minor-xs);
    pointer-events: none;
    color: var(--text-base-action);
}

input:hover,
select:hover,
textarea:hover {
    border-color: var(--primary-500);
}

input[type=radio] {
    appearance: none;
    padding: 0;
    border-radius: 50%;
    width: var(--line-height-base);
    height: var(--line-height-base);
    margin: 0;
    vertical-align: middle;
}

input[type=radio]:checked {
    --width: calc(var(--line-height-base)/4);
    background-color: white;
    border: var(--width) solid var(--primary-400);
}

.radio-segment {
    display: flex;
    flex-flow: row;
    background-color: var(--alt-base-200);
    outline: 1px solid var(--alt-base-200);
    border-radius: var(--radii-base);
}

.radio-segment input[type=radio] {
    opacity: 0;
    position: absolute;
}

.radio-segment .container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs2);
    padding: var(--spacing-minor-xs) var(--spacing-sm);
    min-height: var(--line-height-base);
    min-width: var(--line-height-base);
    border-radius: var(--radii-base);
    opacity: 0.8;
}

.radio-segment .container:hover {
    background-color: var(--alt-base-100);
    opacity: 1;
}

.radio-segment input[type=radio]:checked+.container {
    background-color: var(--utility-tint-600);
    outline: 1px solid var(--utility-shade-100);
    box-shadow: var(--elevation-2);
    opacity: 1;
}

.radio-segment input[type=radio]:focus-visible+.container {
    outline: 2px auto var(--primary-500);
    outline-offset: 2px;
}


.radiogroup {
    background-color: var(--fill-base-300);
    padding: 2px;
    gap: 1px;
    @apply flex flex-row rounded;
}

.radiogroup input[type=radio] {
    background-color: var(--primary-400);
    border: 0 none;
    appearance: none;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    vertical-align: middle;
    transition: 0.2s all linear;
    opacity: 0.5;

    @apply rounded-none;
}

.radiogroup input[type=radio]:checked {
    opacity: 1;
    @apply shadow-1;
}

input:focus,
textarea:focus {
    border-color: var(--primary-500);
    /* outline: none; */
}

textarea {
    flex: 1;
    /* white-space: pre; */
}

fieldset {
    border-style: solid;
    border-color: var(--stroke-base-300);
    border-radius: var(--radii-md);
    border-width: 1px;
}

[data-name='red'] {
    --thumb-color: var(--accent-red-400);
}

[data-name='amber'] {
    --thumb-color: var(--accent-amber-400);
}

[data-name='brown'] {
    --thumb-color: var(--accent-brown-400);
}

[data-name='green'] {
    --thumb-color: var(--accent-green-400);
}

[data-name='teal'] {
    --thumb-color: var(--accent-teal-400);
}

[data-name='cyan'] {
    --thumb-color: var(--accent-cyan-400);
}

[data-name='blue'] {
    --thumb-color: var(--accent-blue-400);
}

[data-name='indigo'] {
    --thumb-color: var(--accent-indigo-400);
}

[data-name='violet'] {
    --thumb-color: var(--accent-violet-400);
}

[data-name='purple'] {
    --thumb-color: var(--accent-purple-400);
}

[data-name='pink'] {
    --thumb-color: var(--accent-pink-400);
}

[data-name='info'] {
    --thumb-color: var(--info-400);
}

[data-name='warning'] {
    --thumb-color: var(--warning-400);
}

[data-name='success'] {
    --thumb-color: var(--success-400);
}

[data-name='danger'] {
    --thumb-color: var(--danger-400);
}


[data-slider],
#luminanceSlider {
    --thumb-color: var(--primary-400);
}

#luminanceSlider {
    margin: var(--spacing-minor-sm) 0;
}

.sliders label {
    display: flex;
    align-items: center;
}

.sliders .text-label {
    width: 20%;
}

.sliders .slider {
    border: 0 none;
    box-sizing: content-box;
    background-clip: padding-box;

    height: var(--slider-track-size);
    background-color: var(--alt-base-300);
    box-shadow: none;
    flex: 3;
    margin: 0 var(--slider-margin);
    border-radius: var(--radii-round);
}

.sliders input[type=text] {
    width: 5rem;
    border: 1px solid var(--stroke-base-300);
    background: transparent;
    text-align: center;
    border-radius: var(--radii-base);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    padding-left: 0;
    padding-right: 0;
}

.sliders .slider .noUi-connect {
    background-color: var(--thumb-color);
}

.sliders .slider .noUi-handle {
    border: calc(var(--slider-thumb-size) / 5) solid white;
    cursor: default;
    box-shadow: none;


    height: var(--slider-thumb-size);
    width: var(--slider-thumb-size);

    top: calc((var(--slider-thumb-size) - var(--slider-track-size)) / -2);
    right: calc((var(--slider-thumb-size) - var(--slider-track-size)) / -2);

    box-shadow: 0px 1px 2px -1px rgba(0, 35, 41, 0.04), 0px 1px 3px 0px rgba(0, 35, 41, 0.04), 0px 0px 0px 1px rgba(0, 35, 41, 0.1);

    /*custom styles*/
    background: var(--thumb-color);
    border-radius: 50%;

}

.sliders .slider .noUi-tooltip {
    bottom: initial;
    top: calc(var(--slider-thumb-size) - var(--slider-thumb-size) / 10);
    font-size: var(--font-size-xs2);
    line-height: var(--line-height-xs2);
    visibility: hidden;
    background: var(--fill-base-100);
    border-color: var(--stroke-base-300);
    color: var(--text-base-600);
    border-radius: var(--radii-base);
    @apply shadow-5;
}

.sliders .slider .noUi-handle:hover {
    border: calc(var(--slider-thumb-size) / 4) solid white;
}

.sliders .slider:hover .noUi-tooltip {
    visibility: visible;
}

.sliders .slider .noUi-handle::before,
.sliders .slider .noUi-handle::after {
    display: none;
}

[data-semantics] .sliders input[type=text] {
    font-size: 0.9rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-minor-base);
    height: 100%;
}


#export {
    background-color: var(--fill-base-100-component);
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
    --thumb-color: var(--primary-400);
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
    border: 0 none;
    padding: 0;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--stroke-base-300);
    border-radius: 0.5rem;
    height: var(--slider-track-size);
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: calc((var(--slider-thumb-size) - var(--slider-track-size)) / -2);

    /*custom styles*/
    background-color: var(--thumb-color);
    height: var(--slider-thumb-size);
    width: var(--slider-thumb-size);
    border-radius: var(--slider-thumb-size);
}

input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;

    outline-color: color-mix(in srgb, var(--thumb-color), transparent 20%);
    outline-offset: 0.125rem;
}

hr {
    border-color: var(--stroke-base-100);
}

a[data-expander] {
    display: inline-flex;
    flex-flow: row;
    gap: var(--spacing-xs2);
    transition: transform 150ms ease-in-out;

    @apply icon-chevron-right;
}

a[data-expanded=yes]::before {
    transform: rotate(90deg);
}

.font-preview-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    background-color: var(--fill-base-300);
}

.font-preview-box .base {
    font-size: var(--font-size-base);
}

.font-preview-box .md {
    font-size: var(--font-size-md);
}

.font-preview-box .lg {
    font-size: var(--font-size-lg);
}

.checkbox {
    display: flex;
}

.checkbox:hover input[type=checkbox] {
    border-color: var(--primary-500);
}

.checkbox input[type="checkbox"] {
    appearance: none;
    width: var(--line-height-base);
    height: var(--line-height-base);
    padding: 0;
    border-radius: 4px;
    flex: 0 0 auto;

}

.checkbox input[type="checkbox"]:checked {
    border-color: var(--primary-400);
    background-color: var(--primary-400);
    position: relative;
    background-size: cover;
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.0694 3.83539C13.4364 4.14989 13.4788 4.70227 13.1643 5.06918L6.54942 12.7866L2.88128 9.11846C2.53957 8.77675 2.53957 8.22273 2.88128 7.88102C3.22299 7.53931 3.77701 7.53931 4.11872 7.88102L6.45058 10.2129L11.8357 3.9303C12.1501 3.56339 12.7025 3.5209 13.0694 3.83539Z" fill="white"/></svg>');
}


.action-list {
    display: flex;
    flex-direction: column;
    width: auto;
}

.action-list li {
    display: block;
    padding: var(--spacing-minor-xs3) 0;
    border-bottom: 1px solid var(--stroke-base-100);
}

.action-list li:last-child {
    border-width: 0;
}

.action-list li a {
    border-radius: var(--radii-base);
    margin: 0 calc(var(--spacing-sm) * -1);
    color: var(--text-base-600);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--spacing-minor-sm) var(--spacing-sm);
}

.action-list li a:hover {
    background-color: var(--primary-100);
    color: var(--text-base-action);
    text-decoration: none;
}

:focus-visible {
    outline: var(--primary-500) auto 2px;
    outline-offset: 2px;
}

#brandAccent {
    --thumb-color: color-mix(in srgb, var(--primary-300), white 10%);

    & .slider {
        background-color: var(--alt-contrast-300);
    }

    & .noUi-connect {
        background-color: var(--text-contrast-400);
    }

    & input[type=text] {
        background-color: var(--alt-contrast-200);
        border-color: var(--alt-contrast-300);
        color: var(--text-contrast-600)
    }
}