.tooltip {
    --effect-opacity: 10%;
    position: absolute;
    display: none;
    flex-direction: column;
    gap: var(--spacing-minor-xs);
    /* min-width: 200%; */
    max-width: 220px;
    padding: var(--spacing-minor-xs) var(--spacing-xs);

    background: var(--fill-base-100);
    background-image: linear-gradient(180deg, hsl(0deg 100% 100% / var(--effect-opacity)), hsl(0deg 100% 100% / var(--effect-opacity)));
    background-blend-mode: overlay;
    border: var(--border-width-base) solid var(--utility-tint-300);
    outline: var(--border-width-base) solid var(--utility-shade-100);
    color: var(--text-base-600);
    border-radius: var(--radii-base);
    @apply shadow-4;
    @apply shadow-utility-shade-300;
    
    /* bottom: 120%;
    left: 50%;
    transform: translateX(-50%); */

    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);

    top: 0;
    left: 0;
    margin: 0;

    animation: tooltipFade 200ms ease-in-out;

    &:popover-open {
        display: flex;
    }
}

@keyframes tooltipFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}