
.text-size-xs {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
}

.text-size-sm {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
}

.text-size-base {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
}

.text-size-md {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
}

.text-size-lg {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
}

.radii-base {
    border-radius: var(--radii-base);
}

.radii-base-l {
    border-radius: var(--radii-base) 0 0 var(--radii-base);
}

.radii-base-r {
    border-radius: 0 var(--radii-base) var(--radii-base) 0;
}

.radii-md {
    border-radius: var(--radii-md);
}

.px-xs4 {
    padding-left: var(--sx-xs4);
    padding-right: var(--sx-xs4);
}
.px-xs3 {
    padding-left: var(--sx-xs3);
    padding-right: var(--sx-xs3);
}
.px-xs2 {
    padding-left: var(--sx-xs2);
    padding-right: var(--sx-xs2);
}
.px-xs {
    padding-left: var(--sx-xs);
    padding-right: var(--sx-xs);
}
.px-sm {
    padding-left: var(--sx-sm);
    padding-right: var(--sx-sm);
}
.px-base {
    padding-left: var(--sx-base);
    padding-right: var(--sx-base);
}
.px-md {
    padding-left: var(--sx-md);
    padding-right: var(--sx-md);
}
.px-lg {
    padding-left: var(--sx-lg);
    padding-right: var(--sx-lg);
}
.px-xl {
    padding-left: var(--sx-xl);
    padding-right: var(--sx-xl);
}
.px-xl2 {
    padding-left: var(--sx-xl2);
    padding-right: var(--sx-xl2);
}
.px-xl3 {
    padding-left: var(--sx-xl3);
    padding-right: var(--sx-xl3);
}

.py-xs4 {
    padding-top: var(--sy-xs4);
    padding-bottom: var(--sy-xs4);
}
.py-xs3 {
    padding-top: var(--sy-xs3);
    padding-bottom: var(--sy-xs3);
}
.py-xs2 {
    padding-top: var(--sy-xs2);
    padding-bottom: var(--sy-xs2);
}
.py-xs {
    padding-top: var(--sy-xs);
    padding-bottom: var(--sy-xs);
}
.py-sm {
    padding-top: var(--sy-sm);
    padding-bottom: var(--sy-sm);
}
.py-base {
    padding-top: var(--sy-base);
    padding-bottom: var(--sy-base);
}
.py-md {
    padding-top: var(--sy-md);
    padding-bottom: var(--sy-md);
}
.py-lg {
    padding-top: var(--sy-lg);
    padding-bottom: var(--sy-lg);
}
.py-xl {
    padding-top: var(--sy-xl);
    padding-bottom: var(--sy-xl);
}
.py-xl2 {
    padding-top: var(--sy-xl2);
    padding-bottom: var(--sy-xl2);
}
.py-xl3 {
    padding-top: var(--sy-xl3);
    padding-bottom: var(--sy-xl3);
}


.gap-sy-xs4 {
    gap: var(--sy-xs4);
}
.gap-sy-xs3 {
    gap: var(--sy-xs3);
}
.gap-sy-xs2 {
    gap: var(--sy-xs2);
}
.gap-sy-xs {
    gap: var(--sy-xs);
}
.gap-sy-sm {
    gap: var(--sy-sm);
}
.gap-sy-base {
    gap: var(--sy-base);
}
.gap-sy-md {
    gap: var(--sy-md);
}
.gap-sy-lg {
    gap: var(--sy-lg);
}
.gap-sy-xl {
    gap: var(--sy-xl);
}
.gap-sy-xl2 {
    gap: var(--sy-xl2);
}
.gap-sy-xl3 {
    gap: var(--sy-xl3);
}

.gap-sx-xs4 {
    gap: var(--sx-xs4);
}
.gap-sx-xs3 {
    gap: var(--sx-xs3);
}
.gap-sx-xs2 {
    gap: var(--sx-xs2);
}
.gap-sx-xs {
    gap: var(--sx-xs);
}
.gap-sx-sm {
    gap: var(--sx-sm);
}
.gap-sx-base {
    gap: var(--sx-base);
}
.gap-sx-md {
    gap: var(--sx-md);
}
.gap-sx-lg {
    gap: var(--sx-lg);
}
.gap-sx-xl {
    gap: var(--sx-xl);
}
.gap-sx-xl2 {
    gap: var(--sx-xl2);
}
.gap-sx-xl3 {
    gap: var(--sx-xl3);
}