@import "tailwindcss";
@import "tw-animate-css";

@import "./source-variables.css";
@import "./chadcn.css";
@import "./source-tailwindcss-theme.css";
@import "./source-tailwindcss-utilities.css";

* {
    border-color: var(--border);
    outline-color: color-mix(in oklab, var(--ring) 50%, transparent);
}

body {
    margin: 0;
    background-color: var(--fill-base-300);
    color: var(--text-base-600)
}